@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.blob {
  width: 200px;
  height: 200px;
  background-color: blue;
  border-radius: 50%;
  clip-path: polygon(
    50% 50%, 
    100% 0%, 
    100% 100%, 
    0% 100%
  );
  transform: rotate(-10deg);
}

.blob2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  height: 200px;
  background-color: blue; 
  border-radius: 100% 65% 100% 76% / 100% 19% 0% 19%;
}

@layer utilities  {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .btn {
    @apply font-normal px-4 py-2 rounded-[6px] disabled:opacity-60 disabled:cursor-not-allowed;
  }

  .input {
    @apply rounded-md border border-gray-300 px-4 py-3 text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
  }

  .input-focus-ring {
    @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500;
  }

  .disabled-state{
    @apply opacity-30 cursor-not-allowed;
  }
}